
<!-- <h1>Profile Page</h1>
 --><h1>Welcome <%= currentUser.name %>!<h1>
<% foodItems.forEach(function(foodItem) {%>
	<div class="container" id="profile">
		<% if(foodItem.checkedItems) {%>
		<p><%= foodItem.createdAt.toDateString()%> </p>
		<% foodItem.checkedItems.forEach(function(checkItem) { %>
			<p> <%=checkItem %> </p>
		<% }) %>
		<%}%>
			<p><%= foodItem.postItems[0]%> </p>
			  <a href="/profile/<%= foodItem._id %>/update" class="btn-floating  waves-effect red"><i class="material-icons">mode_edit</i></a>

			  <a href="/profile/<%= foodItem._id%>" class="deleteButton btn-floating waves-effect teal">
			  <i class="material-icons">delete</i></a>
	</div>

<% }) %>

<!-- <div style="background-color: pink; margin-bottom: 20px">
 -->

